body {
 background-color: black;
 font-family:'Trebuchet MS', sans-serif;

}
h1{
   color: white;
   text-align: center; 
   font-size: 50px;
}

h2{
    color: white;
}

p {
    color:aliceblue
}

img { 
    max-width: 100%; 
}

.movie-card:hover {
    transform: scale(1.2);
    
}

#heading {
    text-align: center;    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#movies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 75px;
    min-width: 960px;
}
#search-input {
    height: 22px;
    width: 500px;
} 
#search-input, #searchButton, #resetButton {
    display: flex;
    float:center;
    margin: 0 auto;
    background-color: white;

}

#searchButton, #close-search-btn, #load-more-movies-btn {
    padding: 10px;
    width: 90px;
    background-color: brown;
    border-radius: 22px;
    text-align: center;

}